/* IMPORTAR FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* SOFT RESET DO CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Para fazer altura automatica*/
html, body{
    height: 100%;
}

body{
    background-color: white;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

/* CABEÇALHO E MENU */
header{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /*Menu Flutuante*/
    width: 100%;
    position: fixed;
    z-index: 1;
}

.menu{
    margin-top: 5px;
    width: 900px;
    height: 100%;
}

.menu ul{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.menu li a{
    display: block;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1em;
}

.menu li a:hover{
    background-color: #00aeef;
    border-radius: 50px;
    color: white;
}

#logo{
    margin-right: 25px;
}

#logo a:hover{
    background-color: white;
}


label[for="bt_menu"]{
    padding: 5px;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin-left: 86%;
}

#logo-mm{
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    display: none;
}

#bt_menu{
    display: none;
}

label[for="bt_menu"]{
    display: none;
}


@media(max-width:800px){
    #logo-mm{
        display: block;
    }
    label[for="bt_menu"]{
        display: block;
    }
    label[for="bt_menu"]:hover, label[for="bt_menu"]:active {
        background-color: #00aeef;
    }
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    header{
        display: block;
        height: 60px;
    }
    .menu{
        margin-top: 0px;
        width: 100%;
        margin-left: -100%;
        transition: all .4s;
    }
    .menu ul{
        display: block;
    }
    .menu ul li{
        width: 100%;
    }
    .menu ul li a{
        font-size: 18px;
        margin-bottom: 5px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 10px;
        /*border: 1px solid #22365a;*/
    }
    .menu ul li a:hover, .menu ul li a:active{
        border-radius: 0px;
    }
    #logo{
        display: none;
    }
}

/* SCETION SIMUAÇÃO*/
.container{
    display: flex;
    justify-content: center;
    justify-items: center;   
    background-size: cover;
    background-position: bottom;
    background-attachment: scroll;
    position: static;
    /*Altura Automatica*/
    height: 100%;
}

#simulacao{
    padding-top: 60px;
    min-height: 530px;
    background-image: url("../img/background-simulacao.png");
}

.content-simulacao{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text{
    color: white;
    width: 600px;
    padding-right: 20px;
}

.banner-text h1{
    font-size: 4.2em;
    text-transform: uppercase;
}

.banner-text span{
    color: #00aeef;
}

.banner-text h3{
    font-size: 2em;
}

.form-simulacao{
    min-height: 340px;
    width: 290px;
    background-color: white;
    border-radius: 10px;
    padding: 35px;
    font-size: 1em;
    margin-left: 25px;
    box-shadow: 0px 0px 1px 10px rgba(250, 250, 250, 0.5);
}
.form-simulacao h2{
    margin-bottom: 20px;
}

.form-simulacao select{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border-color: #b3b3b3;
    /*padding-left: 15px;*/
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;

}

.addbutton{
    width: 35px;
    height: 40px;
    margin-left: 2px;
    color: white;
    background-color: #22365a;
    border-radius: 5px;
    border-style: none;
    font-size: 1.8em;
    font-weight: 700;
    cursor: pointer;
}

.removebutton{

    width: 35px;
    height: 40px;
    margin-left: 5px;
    color: white;
    background-color: #22365a;
    border-radius: 5px;
    border-style: none;
    font-size: 1.8em;
    font-weight: 700;
    cursor: pointer;
}

.addbutton:hover, .removebutton:hover{
    background-color: #00aeef;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.date{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    font-size: 1.3em;
    margin-top: 5px;
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;

}

.form-simulacao label{
    display: block;
    height: 0;
    position: relative;
    font-size: 1.3em;
    line-height: calc(2em / .6);
    padding-left: 5px;
}
/*
.time{
    width: 88px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    font-size: 1.3em;
    margin-top: 20px;
    padding-left: 5px;
}*/

.button{
    width: 220px;
    height: 40px;
    color: white;
    background-color: #22365a;
    border-radius: 5px;
    border-style: none;
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #00aeef;
}

.form-simulacao p{
    text-align: center;
    font-weight: 300;
}

@media(max-width: 800px){
    #simulacao{
        height: 100%;
        padding-bottom: 50px;
    }
    .content-simulacao{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner-text{
        padding: 15px;
        width: 100%;
        margin: 0;
        padding-bottom: 50px;
    }
    .form-simulacao{
        margin-left: 0px;
    }
}

@media(max-width:425px){ 
    .banner-text h1{
        font-size: 3.8em;
    }
    .banner-text h3{
        font-size: 1.5em;
    }
}

@media(max-width:375px){
    .banner-text h1{
        font-size: 3.5em;
    }
}

@media(max-width:320px){
    .banner-text h1{
        font-size: 3em;
    }
}

/* SECTION VANTAGENS */

#vantagens{
    background-image: url("../img/background-vantagens.png");
    height: 100%;
}

.content-vantagens{
    width: 900px; 
}

.titulo{
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.titulo h2{
    font-size: 2.5em;
}

.titulo p{
    font-size: 1.5em;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.vantagem{
    text-align: center;
    margin: 30px 30px 0 30px;

}

.vantagem h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.vantagem p{
    font-size: 1.1em;
}

@media(max-width:800px){
    #vantagens{
        height: 100%;
    }
    .content-vantagens{
        width: 100%;
    }
    .flex{
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
    }
    .vantagem{
        font-size: 1em;
        padding: 0 10%;
        width: 300px;
    }
    .vantagem h3{
        font-size: 1.5em;
    }
}

/* SECTION PARA QUEM */
.content-paraquem{
    width: 900px; 
}

#paraquem{
    height: 100%;
}

.quem{
    background-color: #00aeef;
    height: 280px;
    width: 270px;
    border-radius: 30px;
    border: 3px solid #00aeef;
    box-shadow: 5px 5px 30px -10px black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quem-top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.quem-bottom1{
    height: 224px;
    background-image: url("../img/background-quem1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quem-bottom2{
    height: 224px;
    background-image: url("../img/background-quem2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quem-bottom3{
    height: 224px;
    background-image: url("../img/background-quem3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quem h3, .quem p{
    color: white;
    text-align: center;
}

.quem h3{
    font-size: 2.2em;
}

.quem p{
    font-size: 1.3em;
    margin: 50px;
}

@media(max-width:800px){
    #paraquem{
        height: 100%;
        margin-bottom: 50px;
    }
    .content-paraquem{
        width: 100%;
    }
    .quem{
        margin: 0 auto;
        margin-top: 25px;
    }
}

/* SECTION QUEM SOMOS*/

#quemsomos{
    background-image: url("../img/background-quemsomos.png");
    height: 100%;
    padding-bottom: 50px;
}

.content-quemsomos{
    width: 900px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
}

.quemsomos-text{
    width: 40%;
}

.quemsomos-img{
    margin-top: 15%;
    width: 60%;
}

.content-quemsomos h2{
    margin-top: 50px;
    text-align: left;
    color: #00aeef;
    font-size: 3em;
}

.content-quemsomos h4{
    color: #00aeef;
    font-size: 1.5em;
}

.content-quemsomos p{
    margin-top: 30px;
    text-align: left;
    color: white;
    font-size: 1.2em;
}

@media(max-width:800px){
    #quemsomos{
        background-position: left;
        height: 100%;
        background-position-y: top;
    }
    .content-quemsomos{
        width: 100%;
        justify-content: center;
    }
    .quemsomos-text{
        padding: 15px;
        width: 100%;
    }
    .quemsomos-img{
        padding-top: 5%;
        width: 90%;
        margin: 0 auto;
    }
    .quemsomos-img img{
        width: 100%;
        height: auto;
    }
}

/* SECTION FROTA*/
.content-frota{
    width: 900px;
    padding: 0 15px;
}

#frota{
    height: 100%;   
    padding-bottom: 25px;
}

.slider-frota div{
    margin-top: 10px;
    margin-bottom: 5px;
}

.card-car{
    height: 380px;
    width: 270px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #00aeef;
    box-shadow: 5px 5px 14px -10px black;
}

.card-car-img img{
    height: 190px;
    width: 270px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-car-info{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.conteudo-card{
    margin: 20px; 
}

.conteudo-card img{
    float: left;
    padding-top: 3px;
    margin: 0 auto;
}

.card-car-info div h3{
    font-weight: 300;
    font-size: 1.3em;
    color: white;
}

.card-car-info div img{
    margin-right: 5px;
    margin-bottom: 5px;
}

.card-car-info div p{
    margin-bottom: 5px;
    margin-right: 10px;
    color: white;
}

.card-car-info div h4{
    font-size: 1.1em;
    color: white;
}

.card-car-info div span{
    font-weight: 600;
    color: #1e263d;
}

@media(max-width:800px){
    #frota{
        height: 100%;
    }
    .content-frota{
        width: 80%;
    }
    .slider-frota{
        width: 100%;
    }
}

@media(max-width:375px){
    .card-car{
        width: 100%;
        box-shadow: 0px 0px 0px 0px black;
    }
    .card-car-img img{
        width: 100%;
    }

}

/* SECTION PROMOÇÕES*/
.content-promocoes{
    width: 900px;
    padding: 0 15px;
}

#promocoes{
    height: 100%;
    padding-bottom: 25px;

}

.slider-promocoes div{
    padding-top: 10px;
    padding-bottom: 5px;
}

.slider-promocoes img{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 5px 5px 10px -10px black;
}

@media(max-width:800px){
    #promocoes{
        height: 100%;
    }
    .content-promocoes{
        width: 80%;
    }
    .slider-promocoes img{
        height: 75%;
        width: 75%;
    }
}

@media(max-width:425px){
    .slider-promocoes img{
        height: 90%;
        width: 90%;
    }
}

/* SECTION PARCEIROS*/
.content-parceiros{
    width: 900px;
}

#parceiros{
    height: 100%;
    padding-bottom: 30px;
}

.slider-parceiros div{
    margin-top: 10px;
    padding-bottom: 10px;
}

.slider-parceiros img{
    margin: 0 auto;
    height: 120px;
    width: 160px;
}

@media(max-width:800px){
    .content-parceiros{
        width: 80%;
    }
}

/* SECTION CONTATO*/
.content-contato{
    width: 900px;
    padding-bottom: 50px;

}

#contato{
    background-image: url("../img/background-contato.png");
    height: 100%;
}

.titulo-contato{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.titulo-contato h2{
    color: white;
    font-size: 3em;
}

.conteudo-contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coluna-esquerda{
    display: block;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.box-name, .box-email{
    height: 40px;
    width: 430px;
    border-radius: 5px;
    border-style: none;
    background-color: #cdcccc;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: 1.5em;
}

.box-txt{
    height: 150px;
    width: 430px;
    border-radius: 5px;
    border-style: none;
    background-color: #cdcccc;
    margin-bottom: 20px;
    padding: 10px 5px 5px 15px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;  
}

.btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    color: #22365a;
    background-color: white;
    font-size: 1.5em;
    font-weight: 600;
}

.coluna-direita{
    margin-left: 70px;    
    display: grid;
    grid-template-columns: 50px 400px;
    row-gap: 25px;
    align-items: center;
    justify-content: center;
}

.coluna-direita p{
    color: white;
    font-size: 1.2em;
}

.grid-especial{
    grid-column: 1/3;
}
.grid-especial img{
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

@media(max-width:800px){
    .content-contato{
        width: 100%;
    }
    #contato{
        height: 100%;
    }
    .titulo-contato h2{
        font-size: 2.5em;
    }
    .conteudo-contato{
        flex-wrap: wrap;
        justify-content: center;
    }
    .coluna-esquerda{
        justify-content: center;
        margin: 0 15px;
    }
    .box-name, .box-email, .box-txt{
        width: 100%;
    }
    .coluna-direita{
        margin-top: 50px;
        grid-template-columns: 50px 250px;
        margin-left: 15px;
        
    }
}
@media(max-width:425px){
    .btn{
        margin-left: 55px;
    }
}

@media(max-width:375px){
    .btn{
        margin-left: 30px;
    }
}

@media(max-width:320px){
    .btn{
        margin-left: 0;
    }
    .titulo-contato h2{
        font-size: 2em;
    }
}

/* FOOTER*/
footer{
    background-color: #22365a;
    height: auto;
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

footer p{
    margin-top: 50px;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 25px;
}

footer a{
    text-decoration: none;
    color: black;
    text-align: center;
    justify-content: center;
}

footer a:hover{
    color: white;
}

@media(max-width:800px){
    footer{
        width: 100%;
    }
    .logo-footer{
        flex-wrap: wrap;
    }
}

@media(max-width:375px){
    .logo-footer img{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Botão Flutuante WhatsApp */

.fab{
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;
  }
  
  .fab button{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #22365a;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
  }

  .fab button img{
      margin-top: 5px;
  }
  
  .fab button:focus{
    outline: none;
  }

  .fab button:hover{
      background-color: #00aeef;
  }