/* IMPORTAR FONTES*/

/* SOFT RESET DO CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* IMPLEMENTAR RESPONSIBILIDADE POR @MEDIA, width e flex-wrap */


/* CABEÇALHO E MENU */
header{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 60px;*/
    height: auto;
}

.menu{
    margin-top: 5px;
    width: 900px;
    /*width: 100%;*/
    height: 55px;
}

.menu ul{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.menu li a{
    display: block;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.menu li a:hover{
    background-color: #00aeef;
    border-radius: 50px;
    color: white;
}

#logo a:hover{
    background-color: white;
}

label[for="bt_menu"]{
    padding: 5px;
    background-color: white;
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 55px;
    height: 55px;
}

#bt_menu{
    display: none;
}

label[for="bt_menu"]{
    display: none;
}


@media(max-width:800px){
    label[for="bt_menu"]{
        display: block;
    }
    label[for="bt_menu"]:hover{
        background-color: #00aeef;
    }
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    header{
        display: block;
        height: 55px;
    }
    .menu{
        margin-top: 0px;
        width: 100%;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul{
        display: block;
    }

    .menu ul li{
        width: 100%;
    }

    .menu ul li a{
        font-size: 18px;
        margin-bottom: 5px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 10px;
        /*border: 1px solid #22365a;*/
    }
    .menu ul li a:hover{
        border-radius: 0px;
    }
}


/* SCETION SIMUAÇÃO*/

.container{
    display: flex;
    justify-content: center;
    justify-items: center;   
    background-size: cover;
    background-position: bottom;
    background-attachment: scroll;
    position: static;
}

#simulacao{
    height: 530px;
    background-image: url("../img/background-simulacao.png");

}

.content-simulacao{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text{
    color: white;
    width: 600px;
}
.banner-text h1{
    font-size: 4em;
    text-transform: uppercase;
}

.banner-text span{
    color: #00aeef;
}

.banner-text h3{
    font-size: 2em;
}

.form-simulacao{
    height: 340px;
    width: 290px;
    background-color: white;
    border-radius: 10px;
    padding: 35px;

    font-size: 1.1em;
    margin-left: 25px;

    box-shadow: 0px 0px 1px 10px rgba(250, 250, 250, 0.5);
}

.form-simulacao select{
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border-color: #b3b3b3;
    padding-left: 15px;
    font-size: 1.3em;
    margin-top: 20px;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
  }

.date{
    width: 132px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    font-size: 1.3em;
    margin-top: 20px;
    padding-left: 5px;
}

.time{
    width: 88px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    font-size: 1.3em;
    margin-top: 20px;
    padding-left: 5px;
}

.button{
    width: 220px;
    height: 40px;
    color: white;
    background-color: #22365a;
    border-radius: 5px;
    border-style: none;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 20px;

}

@media(max-width: 800px){
    #simulacao{
        height: 850px;
    }
    .content-simulacao{
        max-width: 400px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner-text{
    }
    .form-simulacao{
        margin-bottom: 50px;
    }
}

/* SECTION VANTAGENS */

#vantagens{
    background-image: url("../img/background-vantagens.png");
    height: 400px;

}

.content-vantagens{
    width: 900px; 
}

.titulo{
    margin-top: 80px;
    text-align: center;
}

.titulo h2{
    font-size: 2.5em;
}

.titulo p{
    font-size: 1.5em;
}

.flex{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vantagem{
    text-align: center;
    margin: 0 30px;
}

.vantagem h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

@media(max-width:800px){
    #vantagens{
        height: 550px;
    }
    .content-vantagens{
        width: 400px;
        flex-wrap: wrap;
    }
    .flex{
        flex-wrap: wrap;
        justify-content: center;
    }
    .vantagem{
        /*margin-top: 50px;*/ /* CASO PRECISE DA DESCRIÇÃO*/
        max-width: 125px;
        font-size: 0.9em;
    }
    .vantagem p{
        display: none; /*TIRAR ISSO DE PRECISAR DA DESCRIÇÃO*/
    }
}

/* SECTION PARA QUEM */

.content-paraquem{
    margin-top: 80px;
    width: 900px; 
}

#paraquem{
    height: 620px;

}

.quem{
    background-color: #00aeef;
    height: 280px;
    width: 270px;
    border-radius: 30px;
    border: 3px solid #00aeef;

    box-shadow: 5px 5px 30px -10px black;
}

.quem-top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.quem-bottom1{
    height: 224px;
    background-image: url("../img/background-quem1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quem-bottom2{
    height: 224px;
    background-image: url("../img/background-quem2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quem-bottom3{
    height: 224px;
    background-image: url("../img/background-quem3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quem h3, .quem p{
    color: white;
    text-align: center;
}

.quem h3{
    font-size: 2.2em;
}

.quem p{
    font-size: 1.5em;
    margin: 50px;
}

@media(max-width:800px){
    #paraquem{
        height: 1250px;
    }
    .quem{
        margin-top: 25px;
    }
}

/* SECTION QUEM SOMOS*/

#quemsomos{
    background-image: url("../img/background-quemsomos.png");
    height: 455px;
}

.content-quemsomos{
    width: 900px;
}

.quemsomo-text{
    width: 340px;
}

.content-quemsomos h2{
    margin-top: 80px;
    text-align: left;
    color: #00aeef;
    font-size: 2.5em;
}

.content-quemsomos p{
    margin-top: 30px;
    text-align: left;
    color: white;
    font-size: 1.4em;
}

@media(max-width:800px){
    #quemsomos{
        background-position: left;
    }
    .content-quemsomos{
        max-width: 800px;
    }
    .quemsomo-text{
        margin: 0 auto;
    }
}

/* SECTION FROTA*/
.content-frota{
    width: 900px;
}

#frota{
    height: 550px;
}

.slider-frota div{
    margin-top: 10px;
    margin-bottom: 5px;
}

@media(max-width:800px){
    .content-frota{
        max-width: 350px;
    }
}

.card-car{
    height: 380px;
    width: 270px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #00aeef;
    box-shadow: 5px 5px 14px -10px black;
}

.card-car-img img{
    height: 190px;
    width: 270px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-car-info{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.grade{
    display: grid;
    grid-template-columns: 20px 200px;
    padding-left: 70px;
}

.card-car-info div h3{
    font-weight: 300;
    font-size: 1.3em;
    color: white;
}

.card-car-info div img{
    margin-right: 5px;
    margin-bottom: 5px;
}

.card-car-info div p{
    margin-bottom: 5px;
    margin-right: 10px;
    color: white;
}

.card-car-info div h4{
    font-size: 1.1em;
    color: white;
}

.card-car-info div span{
    font-weight: 600;
    color: #1e263d;
}


/* SECTION PROMOÇÕES*/
.content-promocoes{
    width: 900px;
}

#promocoes{
    height: 580px;
}

.slider-promocoes div{
    padding-top: 10px;
    padding-bottom: 5px;
}

.slider-promocoes img{
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 5px 5px 10px -10px black;
}

@media(max-width:800px){
    .content-promocoes{
        width: 400px;
    }
    .slider-promocoes img{
        height: 75%;
        width: 75%;
    }
}

/* SECTION PARCEIROS*/
.content-parceiros{
    width: 900px;
}

#parceiros{
    height: 400px;
}

.flex2 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex2 img{
    height: 120px;
    width: 160px;
}

@media(max-width:800px){
    .content-parceiros{
        width: 400px;
    }
    #parceiros{
        height: 500px;
    }
    .flex2{
        flex-wrap: wrap;
    }
}

/* SECTION CONTATO*/

.content-contato{
    width: 900px;
}

#contato{
    background-image: url("../img/background-contato.png");
    height: 500px;
}


.titulo-contato{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.titulo-contato h2{
    color: white;
    font-size: 3em;
}

.conteudo-contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coluna-esquerda{
    display: block;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.box-name, .box-email{
    height: 40px;
    width: 430px;
    border-radius: 5px;
    border-style: none;
    background-color: #cdcccc;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: 1.5em;
}

.box-txt{
    height: 150px;
    width: 430px;
    border-radius: 5px;
    border-style: none;
    background-color: #cdcccc;
    margin-bottom: 20px;
    padding: 10px 5px 5px 15px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;  
}

.btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    color: #22365a;
    background-color: white;
    font-size: 1.5em;
    font-weight: 600;
}

.coluna-direita{
    margin-left: 70px;    
    display: grid;
    grid-template-columns: 50px 400px;
    row-gap: 25px;
    align-items: center;
    justify-content: center;
}

.coluna-direita p{
    color: white;
    font-size: 1.2em;
}

.grid-especial{
    grid-column: 1/3;
}
.grid-especial img{
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

@media(max-width:800px){
    .content-contato{
        width: 400px;
    }
    #contato{
        height: 900px;
    }
    .titulo-contato h2{
        font-size: 2.5em;
    }
    .conteudo-contato{
        flex-wrap: wrap;
        justify-content: center;
    }
    .coluna-esquerda{
        justify-content: center;
    }
    .box-name, .box-email, .box-txt{
        width: 100%;
    }
    .coluna-direita{
        margin-top: 50px;
        grid-template-columns: 50px 250px;
        margin-left: 0px;
    }
}

/* FOOTER*/
footer{
    background-color: #22365a;
    height: 200px;
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

footer p{
    margin-top: 50px;
    text-align: center;
    font-size: 1.1em;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: white;
}